{% extends "layout.html" %}
{% block content %}
<div class="container p-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container">
                <div class="d-flex align-items-center">
                    <img src="{{ url_for('static', filename='images/bot_icon.png') }}" alt="Bot Icon" class="mr-2">
                    <div>
                        <h3 id="bot-name" class="text-white">{{model.bot_name}}</h3>
                        <h5 id="slogan" class="text-white">{{model.slogan}}</h5>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div id="chat-box" class="output" data-simplebar>
                        {% for message in model.chat_history %}
                            {% if message.author == "user" %}
                                <div class="text-right mb-2">
                                    <strong>You:</strong> {{ message.content }}
                                </div>
                            {% else %}
                                <div id="bot-message" class="mb-2">
                                    <strong>Bot:</strong> {{ message.content }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="chat-bubble d-none" id="typing-dots">
                            <div class="typing">
                              <div class="dot"></div>
                              <div class="dot"></div>
                              <div class="dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" class="d-flex">
                <input type="text" autocomplete="off" id="user-prompt" name="prompt" class="form-control mt-3 mr-2" placeholder="Enter a prompt">
                <button type="submit" id="submit-button" class="btn btn-secondary mt-3">
                    <img src="{{ url_for('static', filename='images/send_button.png') }}" alt="Send Button" class="mr-2">
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('submit-button').addEventListener('click', function() {
        document.getElementById('typing-dots').classList.remove('d-none');
        scrollToBottom();
    });

    window.onload = function() {
        scrollToBottom();
    }

    function scrollToBottom() {
        var container = document.querySelector('#chat-box .simplebar-content-wrapper'); 
        container.scrollTo({ top: container.scrollHeight });
    }
</script>
{% endblock %}
